.cat-img{
    height: 400px;
    object-fit: cover;
    border-radius: 1rem;
    margin: 8px 0;
    cursor: pointer;
}

.modal-img{
    height: 96vh;
    border-radius: 1rem;
    object-fit: cover;
}

.git-link .git-icon{
    display: block;
    margin:auto;
    fill:rgba(255, 255, 255, 0.75);
}
.git-link .git-icon:hover{
    fill:rgb(255, 255, 255);
}

#search-options-container{
    max-height: 500px;
    overflow: auto;
}

.main-header{
    font-size: 4em;
    letter-spacing: 0.2em;
    margin-top: -5px;
}

.search-button{
    margin-right: 1rem;
}

.main-section{
    min-height: calc( 100vh - 154px - 32px);
}
