doctype html
html
  head
    title= 'Gestao de Alunos (DAW2020)'
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(type='module' src='https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js')
    script(nomodule='' src='https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js')
  body
    header
      nav.w3-bar.w3-blue.flex-row
        h3.w3-bar-item.w3-margin-left.my0 Daw Alunos
        a.w3-bar-item(href="/")   
          h4.my0 
            ion-icon.mx1(name='home-outline') 
            | Home
        a.w3-bar-item(href='https://github.com/ricardoSlv/DAW2020/tree/master/T7')
          h4.my0
            ion-icon.mx1(name='logo-github')
            | Github
        whitespace
        h3.w3-bar-item.w3-margin-right.my0 DAW 2020

    main
      block content
    
    footer.w3-container.w3-blue
      h3.w3-margin-left.my0.py1 DAW TPC7 2020
